
@{
    ViewBag.Title = "ContactUs";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model List<E_VillageProject.Models.tbl_contact>
    <div class="row">
        <table class="table table-bordered" style="background:linear-gradient(gold,green)">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Mobil</th>
                <th>Email</th>
                <th>Message</th>
                <th>Contact Date</th>
            </tr>
            @foreach(var x in Model)
            {
                <tr>
                    <td>@x.Id</td>
                    <td>@x.Name</td>
                    <td>@x.Mobile_No</td>
                    <td>@x.Email</td>
                    <td>@x.Message</td>
                    <td>@x.Contactdate</td>
                </tr>
            }
        </table>
    </div>